.ad-2 {
  border: 1px solid #e0e0e0;
  border-radius: 0.9rem;
  background-color: #fff;
  box-shadow: 0 3px 6px 2px #eee;

  .ad2-header {
    .ad2-title {
      color: #273c85;
      font-weight: 600;
      font-size: 1.3rem;
    }
    .ad2-save {
      border-radius: 50%;
      background-color: #273c85;
      color: #fff;
      cursor: pointer;
      // width: 28px;
      // height: 28px;
    }
  }
  .ad2-body {
    .ad2-feature {
      .ad2-feature__key {
        .ad2-feature__key__icon {
          font-size: 1.1rem;
          color: #273c85;
        }
        .ad2-feature__key__name {
          color: #273c85;
          font-size: .9rem !important;
          // font-weight: 600;
        }
      }
      .ad2-feature__value {
        border-radius: 1rem;
        box-shadow: 0px 2px 3px 2px #ececec;
        border: 1.5px solid #0000007a;
        padding: 0.2rem 1em;
        font-size: .78rem !important;
        color: #555 !important;
      }
    }
  }
}
