
@{
    ViewData["Title"] = "مدیریت آگهی ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="~/stylesheet" href="vendors/dataTable/dataTables.min.css" type="text/css">
    <link rel="stylesheet" href="/vendors/select2/css/select2.min.css" type="text/css">
    <link href="~/assets/css/Rating.css" rel="stylesheet" />
    <link href="~/cropper/css/cropper.css" rel="stylesheet" />
    <link href="~/cropper/css/main.css" rel="stylesheet" />
    <style>
        #logo {
            margin: auto;
            max-width: 200px;
            max-height: 200px;
            border: 2px solid #f3f3f3
        }

        .checked {
            color: orange;
        }

        #myTable {
            width: 100% !important;
        }

        #label {
            margin: 28% 28%;
        }

        #selectAll {
            margin: 33% 13%;
        }

        .pagination > li {
            margin-left: 1%;
            cursor: pointer;
        }

        button {
            cursor: pointer;
        }

        div.form-control {
            text-align: center;
            background: #f1f1f1;
            overflow: hidden;
        }

        .table td {
            text-align: center;
        }

        .table-bordered thead td, .table-bordered thead th {
            border-bottom-width: 2px;
            text-align: center;
        }

        .table > tbody > tr > td {
            vertical-align: middle;
        }

            .table > tbody > tr > td > img {
                max-height: 100px;
                max-width: 100px;
            }

        .selectedLi {
            color: red;
        }

        label {
            padding-top: 10px;
            vertical-align: top;
        }

        #filtering {
            vertical-align: text-bottom;
        }

        #ShowDetailsBtn {
            border: 1px solid black;
            background: #ddd;
        }

        #CreateTicketModalBtn {
            border: 1px solid black;
            background: #ddd;
        }

        .error {
            animation-name: example;
            animation-duration: 1.6s;
        }

        @@keyframes example {
            0% {
                border-color: red;
                width: 102%;
                height: 100%;
            }

            10% {
                border-color: white;
                width: 100%;
                height: 99%;
            }

            20% {
                border-color: red;
                width: 102%;
                height: 100%;
            }

            30% {
                border-color: white;
                width: 100%;
                height: 99%;
            }

            40% {
                border-color: red;
                width: 102%;
                height: 100%;
            }

            50% {
                border-color: white;
                width: 100%;
                height: 100%;
            }

            60% {
                border-color: red;
                width: 102%;
                height: 99%;
            }

            70% {
                border-color: white;
                width: 100%;
                height: 100%;
            }

            80% {
                border-color: red;
                width: 102%;
                height: 99%;
            }

            90% {
                border-color: white;
                width: 100%;
                height: 100%;
            }

            100% {
                border-color: red;
                width: 102%;
                height: 99%;
            }
        }
    </style>


}

<div class="modal fade" tabindex="-1" role="dialog" id="RatingModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">  امتیازدهی </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="ShowDetailsClose">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container @*w-75*@" id="rating-modal" style="height: 75vh !important;direction: ltr;">
                    <div class="feedback">
                        <div class="rating">
                            <input type="radio" name="rating" id="rating-5">
                            <label for="rating-5"></label>
                            <input type="radio" name="rating" id="rating-4">
                            <label for="rating-4"></label>
                            <input type="radio" name="rating" id="rating-3">
                            <label for="rating-3"></label>
                            <input type="radio" name="rating" id="rating-2">
                            <label for="rating-2"></label>
                            <input type="radio" name="rating" id="rating-1">
                            <label for="rating-1"></label>
                            <div class="emoji-wrapper">
                                <div class="emoji">
                                    <svg class="rating-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <circle cx="256" cy="256" r="256" fill="#ffd93b" />
                                        <path d="M512 256c0 141.44-114.64 256-256 256-80.48 0-152.32-37.12-199.28-95.28 43.92 35.52 99.84 56.72 160.72 56.72 141.36 0 256-114.56 256-256 0-60.88-21.2-116.8-56.72-160.72C474.8 103.68 512 175.52 512 256z" fill="#f4c534" />
                                        <ellipse transform="scale(-1) rotate(31.21 715.433 -595.455)" cx="166.318" cy="199.829" rx="56.146" ry="56.13" fill="#fff" />
                                        <ellipse transform="rotate(-148.804 180.87 175.82)" cx="180.871" cy="175.822" rx="28.048" ry="28.08" fill="#3e4347" />
                                        <ellipse transform="rotate(-113.778 194.434 165.995)" cx="194.433" cy="165.993" rx="8.016" ry="5.296" fill="#5a5f63" />
                                        <ellipse transform="scale(-1) rotate(31.21 715.397 -1237.664)" cx="345.695" cy="199.819" rx="56.146" ry="56.13" fill="#fff" />
                                        <ellipse transform="rotate(-148.804 360.25 175.837)" cx="360.252" cy="175.84" rx="28.048" ry="28.08" fill="#3e4347" />
                                        <ellipse transform="scale(-1) rotate(66.227 254.508 -573.138)" cx="373.794" cy="165.987" rx="8.016" ry="5.296" fill="#5a5f63" />
                                        <path d="M370.56 344.4c0 7.696-6.224 13.92-13.92 13.92H155.36c-7.616 0-13.92-6.224-13.92-13.92s6.304-13.92 13.92-13.92h201.296c7.696.016 13.904 6.224 13.904 13.92z" fill="#3e4347" />
                                    </svg>
                                    <svg class="rating-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <circle cx="256" cy="256" r="256" fill="#ffd93b" />
                                        <path d="M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z" fill="#f4c534" />
                                        <path d="M328.4 428a92.8 92.8 0 0 0-145-.1 6.8 6.8 0 0 1-12-5.8 86.6 86.6 0 0 1 84.5-69 86.6 86.6 0 0 1 84.7 69.8c1.3 6.9-7.7 10.6-12.2 5.1z" fill="#3e4347" />
                                        <path d="M269.2 222.3c5.3 62.8 52 113.9 104.8 113.9 52.3 0 90.8-51.1 85.6-113.9-2-25-10.8-47.9-23.7-66.7-4.1-6.1-12.2-8-18.5-4.2a111.8 111.8 0 0 1-60.1 16.2c-22.8 0-42.1-5.6-57.8-14.8-6.8-4-15.4-1.5-18.9 5.4-9 18.2-13.2 40.3-11.4 64.1z" fill="#f4c534" />
                                        <path d="M357 189.5c25.8 0 47-7.1 63.7-18.7 10 14.6 17 32.1 18.7 51.6 4 49.6-26.1 89.7-67.5 89.7-41.6 0-78.4-40.1-82.5-89.7A95 95 0 0 1 298 174c16 9.7 35.6 15.5 59 15.5z" fill="#fff" />
                                        <path d="M396.2 246.1a38.5 38.5 0 0 1-38.7 38.6 38.5 38.5 0 0 1-38.6-38.6 38.6 38.6 0 1 1 77.3 0z" fill="#3e4347" />
                                        <path d="M380.4 241.1c-3.2 3.2-9.9 1.7-14.9-3.2-4.8-4.8-6.2-11.5-3-14.7 3.3-3.4 10-2 14.9 2.9 4.9 5 6.4 11.7 3 15z" fill="#fff" />
                                        <path d="M242.8 222.3c-5.3 62.8-52 113.9-104.8 113.9-52.3 0-90.8-51.1-85.6-113.9 2-25 10.8-47.9 23.7-66.7 4.1-6.1 12.2-8 18.5-4.2 16.2 10.1 36.2 16.2 60.1 16.2 22.8 0 42.1-5.6 57.8-14.8 6.8-4 15.4-1.5 18.9 5.4 9 18.2 13.2 40.3 11.4 64.1z" fill="#f4c534" />
                                        <path d="M155 189.5c-25.8 0-47-7.1-63.7-18.7-10 14.6-17 32.1-18.7 51.6-4 49.6 26.1 89.7 67.5 89.7 41.6 0 78.4-40.1 82.5-89.7A95 95 0 0 0 214 174c-16 9.7-35.6 15.5-59 15.5z" fill="#fff" />
                                        <path d="M115.8 246.1a38.5 38.5 0 0 0 38.7 38.6 38.5 38.5 0 0 0 38.6-38.6 38.6 38.6 0 1 0-77.3 0z" fill="#3e4347" />
                                        <path d="M131.6 241.1c3.2 3.2 9.9 1.7 14.9-3.2 4.8-4.8 6.2-11.5 3-14.7-3.3-3.4-10-2-14.9 2.9-4.9 5-6.4 11.7-3 15z" fill="#fff" />
                                    </svg>
                                    <svg class="rating-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <circle cx="256" cy="256" r="256" fill="#ffd93b" />
                                        <path d="M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z" fill="#f4c534" />
                                        <path d="M336.6 403.2c-6.5 8-16 10-25.5 5.2a117.6 117.6 0 0 0-110.2 0c-9.4 4.9-19 3.3-25.6-4.6-6.5-7.7-4.7-21.1 8.4-28 45.1-24 99.5-24 144.6 0 13 7 14.8 19.7 8.3 27.4z" fill="#3e4347" />
                                        <path d="M276.6 244.3a79.3 79.3 0 1 1 158.8 0 79.5 79.5 0 1 1-158.8 0z" fill="#fff" />
                                        <circle cx="340" cy="260.4" r="36.2" fill="#3e4347" />
                                        <g fill="#fff">
                                            <ellipse transform="rotate(-135 326.4 246.6)" cx="326.4" cy="246.6" rx="6.5" ry="10" />
                                            <path d="M231.9 244.3a79.3 79.3 0 1 0-158.8 0 79.5 79.5 0 1 0 158.8 0z" />
                                        </g>
                                        <circle cx="168.5" cy="260.4" r="36.2" fill="#3e4347" />
                                        <ellipse transform="rotate(-135 182.1 246.7)" cx="182.1" cy="246.7" rx="10" ry="6.5" fill="#fff" />
                                    </svg>
                                    <svg class="rating-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <circle cx="256" cy="256" r="256" fill="#ffd93b" />
                                        <path d="M407.7 352.8a163.9 163.9 0 0 1-303.5 0c-2.3-5.5 1.5-12 7.5-13.2a780.8 780.8 0 0 1 288.4 0c6 1.2 9.9 7.7 7.6 13.2z" fill="#3e4347" />
                                        <path d="M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z" fill="#f4c534" />
                                        <g fill="#fff">
                                            <path d="M115.3 339c18.2 29.6 75.1 32.8 143.1 32.8 67.1 0 124.2-3.2 143.2-31.6l-1.5-.6a780.6 780.6 0 0 0-284.8-.6z" />
                                            <ellipse cx="356.4" cy="205.3" rx="81.1" ry="81" />
                                        </g>
                                        <ellipse cx="356.4" cy="205.3" rx="44.2" ry="44.2" fill="#3e4347" />
                                        <g fill="#fff">
                                            <ellipse transform="scale(-1) rotate(45 454 -906)" cx="375.3" cy="188.1" rx="12" ry="8.1" />
                                            <ellipse cx="155.6" cy="205.3" rx="81.1" ry="81" />
                                        </g>
                                        <ellipse cx="155.6" cy="205.3" rx="44.2" ry="44.2" fill="#3e4347" />
                                        <ellipse transform="scale(-1) rotate(45 454 -421.3)" cx="174.5" cy="188" rx="12" ry="8.1" fill="#fff" />
                                    </svg>
                                    <svg class="rating-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <circle cx="256" cy="256" r="256" fill="#ffd93b" />
                                        <path d="M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z" fill="#f4c534" />
                                        <path d="M232.3 201.3c0 49.2-74.3 94.2-74.3 94.2s-74.4-45-74.4-94.2a38 38 0 0 1 74.4-11.1 38 38 0 0 1 74.3 11.1z" fill="#e24b4b" />
                                        <path d="M96.1 173.3a37.7 37.7 0 0 0-12.4 28c0 49.2 74.3 94.2 74.3 94.2C80.2 229.8 95.6 175.2 96 173.3z" fill="#d03f3f" />
                                        <path d="M215.2 200c-3.6 3-9.8 1-13.8-4.1-4.2-5.2-4.6-11.5-1.2-14.1 3.6-2.8 9.7-.7 13.9 4.4 4 5.2 4.6 11.4 1.1 13.8z" fill="#fff" />
                                        <path d="M428.4 201.3c0 49.2-74.4 94.2-74.4 94.2s-74.3-45-74.3-94.2a38 38 0 0 1 74.4-11.1 38 38 0 0 1 74.3 11.1z" fill="#e24b4b" />
                                        <path d="M292.2 173.3a37.7 37.7 0 0 0-12.4 28c0 49.2 74.3 94.2 74.3 94.2-77.8-65.7-62.4-120.3-61.9-122.2z" fill="#d03f3f" />
                                        <path d="M411.3 200c-3.6 3-9.8 1-13.8-4.1-4.2-5.2-4.6-11.5-1.2-14.1 3.6-2.8 9.7-.7 13.9 4.4 4 5.2 4.6 11.4 1.1 13.8z" fill="#fff" />
                                        <path d="M381.7 374.1c-30.2 35.9-75.3 64.4-125.7 64.4s-95.4-28.5-125.8-64.2a17.6 17.6 0 0 1 16.5-28.7 627.7 627.7 0 0 0 218.7-.1c16.2-2.7 27 16.1 16.3 28.6z" fill="#3e4347" />
                                        <path d="M256 438.5c25.7 0 50-7.5 71.7-19.5-9-33.7-40.7-43.3-62.6-31.7-29.7 15.8-62.8-4.7-75.6 34.3 20.3 10.4 42.8 17 66.5 17z" fill="#e24b4b" />
                                    </svg>
                                    <svg class="rating-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <g fill="#ffd93b">
                                            <circle cx="256" cy="256" r="256" />
                                            <path d="M512 256A256 256 0 0 1 56.8 416.7a256 256 0 0 0 360-360c58 47 95.2 118.8 95.2 199.3z" />
                                        </g>
                                        <path d="M512 99.4v165.1c0 11-8.9 19.9-19.7 19.9h-187c-13 0-23.5-10.5-23.5-23.5v-21.3c0-12.9-8.9-24.8-21.6-26.7-16.2-2.5-30 10-30 25.5V261c0 13-10.5 23.5-23.5 23.5h-187A19.7 19.7 0 0 1 0 264.7V99.4c0-10.9 8.8-19.7 19.7-19.7h472.6c10.8 0 19.7 8.7 19.7 19.7z" fill="#e9eff4" />
                                        <path d="M204.6 138v88.2a23 23 0 0 1-23 23H58.2a23 23 0 0 1-23-23v-88.3a23 23 0 0 1 23-23h123.4a23 23 0 0 1 23 23z" fill="#45cbea" />
                                        <path d="M476.9 138v88.2a23 23 0 0 1-23 23H330.3a23 23 0 0 1-23-23v-88.3a23 23 0 0 1 23-23h123.4a23 23 0 0 1 23 23z" fill="#e84d88" />
                                        <g fill="#38c0dc">
                                            <path d="M95.2 114.9l-60 60v15.2l75.2-75.2zM123.3 114.9L35.1 203v23.2c0 1.8.3 3.7.7 5.4l116.8-116.7h-29.3z" />
                                        </g>
                                        <g fill="#d23f77">
                                            <path d="M373.3 114.9l-66 66V196l81.3-81.2zM401.5 114.9l-94.1 94v17.3c0 3.5.8 6.8 2.2 9.8l121.1-121.1h-29.2z" />
                                        </g>
                                        <path d="M329.5 395.2c0 44.7-33 81-73.4 81-40.7 0-73.5-36.3-73.5-81s32.8-81 73.5-81c40.5 0 73.4 36.3 73.4 81z" fill="#3e4347" />
                                        <path d="M256 476.2a70 70 0 0 0 53.3-25.5 34.6 34.6 0 0 0-58-25 34.4 34.4 0 0 0-47.8 26 69.9 69.9 0 0 0 52.6 24.5z" fill="#e24b4b" />
                                        <path d="M290.3 434.8c-1 3.4-5.8 5.2-11 3.9s-8.4-5.1-7.4-8.7c.8-3.3 5.7-5 10.7-3.8 5.1 1.4 8.5 5.3 7.7 8.6z" fill="#fff" opacity=".2" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



<button type="button" id="rejectResultBtn" class="btn btn-primary mr-2 mb-2 d-none" data-toggle="modal" data-target="#rejectResult">
</button>
<button type="button" id="ShowDetailsBtn" class="d-none" data-toggle="modal" data-target="#ShowDetails">
</button>

@*<button type="button" class="btn btn-light" id="CreateTicketModalBtn" onclick="sendTicket()" data-toggle="modal" data-target="#CreateTicket">
        ارسال پیام جدید
    </button>*@

<hr />
<table id="myTable" class="table table-striped table-bordered table-responsive">
    <thead>
        <tr>

            <th style="max-width:105px">لوگو</th>
            <th>نام شرکت</th>
            <th>نام لاتین شرکت</th>
            <th>مدیریت</th>
            <th>شماره موبایل</th>
            <th>امتیاز</th>
            <th>آگهی های فعال</th>
            <th>آگهی های غیر فعال</th>
            <th>مجموع خرید</th>
            <th>فعال</th>
            <th>عملیات</th>



        </tr>
    </thead>
    <tbody id="rewsOfTable">
    </tbody>
</table>

<ul class="pagination" style=" direction: ltr; ">
</ul>

<div class="modal fade" tabindex="-1" role="dialog" id="CreateTicket">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ارسال پیام</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="CreateTicketClose">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="CreateTicketForm">

                    @*<input type="hidden" value="" name="id" id="id" />*@
                    <div class="form-row">
                        <div class="form-group col-md-12 ">
                            <label for="subject">موضوع </label>
                            <input type="text" name="subject" class="form-control " id="subject" />
                        </div>
                        <div class="form-group col-md-12 ">
                            <label for="TicketPriorityStatus">اولویت </label>
                            <select id="TicketPriorityStatus" name="TicketPriorityStatus" class="form-control">
                                <option value="1">فوری</option>
                                <option value="2">معمولی</option>
                                <option value="3">جهت اطلاع</option>
                            </select>

                        </div>

                        <input id="userId" type="hidden" name="userId" class="form-control" multiple />




                        <div class="form-group col-md-12 ">
                            <label for="content">متن پیام </label>
                            <textarea type="text" name="content" class="form-control" id="content"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="file">فایل </label>
                            <input type="file" name="file" class="form-control" id="file">
                        </div>
                    </div>



                    <button type="submit" id="CreateTicketBtn" class="btn btn-light-primary btn-block">ثبت</button>
                </form>

            </div>
        </div>
    </div>
</div>


<!--CreateModal-->

<div class="modal fade" tabindex="-1" role="dialog" id="ShowDetails">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> نمایش جزئیات</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="ShowDetailsClose">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ShowDetailsForm" class="ShowDetailsForm">

                    <div class="form-row">
                        <div class="form-group col-md-12  ">
                            <img name="logo" class="" id="logo">
                        </div>
                        <div class="form-group col-md-4  ">
                            <label for="companyPersianName">نام فارسی </label>
                            <input name="companyPersianName" class="form-control  " id="companyPersianName"/>
                        </div>
                        <div class="form-group col-md-4  ">
                            <label for="AnswerContent">نام لاتین </label>
                            <input name="companyEngName" class="form-control  " id="companyEngName"/>

                        </div>
                        <div class="form-group col-md-4  ">
                            <label for="managerFullName">مدیریت </label>
                            <input type="text" name="managerFullName" class="form-control" id="managerFullName"/>
                        </div>
                        <div class="form-group col-md-4  ">
                            <label for="city">شهر </label>
                            <div name="city" class="form-control  " id="city"></div>

                        </div>
                        <div class="form-group col-md-8  ">
                            <label for="address">آدرس </label>
                            <div type="text" name="address" class="form-control" id="address"></div>
                        </div>
                        <div class="form-group col-md-4  ">
                            <label for="managerPhoneNUmber">موبایل </label>
                            <input name="managerPhoneNUmber" class="form-control  disabled " id="managerPhoneNUmber"/>

                        </div>
                        <div class="form-group col-md-4  ">
                            <label for="companyPhone">شماره تماس </label>
                            <input type="text" name="companyPhone" class="form-control" id="companyPhone"/>
                        </div>
                        <div class="form-group col-md-4  ">
                            <label for="managerEmail">ایمیل </label>
                            <input name="managerEmail" class="form-control  " id="managerEmail"/>

                        </div>
                        <div class="form-group col-md-4  ">
                            <label for="activeAdversCount">تعداد آگهی های فعال </label>
                            <div name="activeAdversCount" class="form-control  " id="activeAdversCount"></div>

                        </div>
                        <div class="form-group col-md-4  ">
                            <label for="deactiveAdversCount">تعداد آگهی های غیر فعال </label>
                            <div type="text" name="deactiveAdversCount" class="form-control" id="deactiveAdversCount"></div>
                        </div>
                        <div class="form-group col-md-4  ">
                            <label for="sumOfBuying">کل خرید </label>
                            <div name="sumOfBuying" class="form-control  " id="sumOfBuying"></div>

                        </div>
                        <div class="form-group col-md-4 ">
                            <label for="isActive">وضعیت کاربر </label>
                            <div name="isActive" class="form-control  " id="isActive"></div>

                        </div>
                        <div class="form-group col-md-5 ">
                            <label for="rate">امتیاز کاریر </label>
                            <div name="rate" class="form-control  " id="rate"></div>

                        </div>
                        <div class="form-group col-md-3  ">
                            <button style=" margin-top: 40%;" class="btn btn-primary btn-sm" type="button" onclick="setRate()">امتیاز دهی</button>
                        </div>


                        <div class="form-group col-12  ">
                            <label for="companyPhone">آخرین بازدید </label>
                            <div type="text" name="lastSeen" class="form-control" id="lastSeen"></div>
                        </div>
                        <div class="form-group col-12  ">
                            <label for="companyPhone">تاریخ ثبت نام </label>
                            <div type="text" name="registerationDateJalali" class="form-control" id="registerationDateJalali"></div>
                        </div>
                        <div class="form-group col-12">
                            <button class="btn btn-success">تایید</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>





<div class="modal fade" tabindex="-1" role="dialog" id="CreateTicket">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ارسال پیام</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="CreateTicketClose">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="CreateTicketForm">

                    @*<input type="hidden" value="" name="id" id="id" />*@
                    <div class="form-row">
                        <div class="form-group col-md-12 ">
                            <label for="subject">موضوع </label>
                            <input type="text" name="subject" class="form-control " id="subject" />
                        </div>
                        <div class="form-group col-md-12 ">
                            <label for="TicketPriorityStatus">اولویت </label>
                            <select id="TicketPriorityStatus" name="TicketPriorityStatus" class="form-control">
                                <option value="1">فوری</option>
                                <option value="2">معمولی</option>
                                <option value="3">جهت اطلاع</option>
                            </select>

                        </div>

                        <div class="form-group col-md-8 ">
                            <label for="TicketPriorityStatus">ارسال به </label>
                            <select id="userId" name="userId" class="form-control" multiple>
                            </select>


                        </div>

                        <div class="form-group col-md-4 ">
                            <input type="checkbox" class="form-check-input" id="selectAll">
                            <label id="label" class="form-check-label" for="selectAll">انتخاب همه</label>

                        </div>

                        <div class="form-group col-md-12 ">
                            <label for="content">متن پیام </label>
                            <textarea type="text" name="content" class="form-control" id="content"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="file">فایل </label>
                            <input type="file" name="file" class="form-control" id="file">
                        </div>
                    </div>



                    <button type="submit" id="CreateTicketBtn" class="btn btn-light-primary btn-block">ثبت</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="CreateGifCode">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ارسال کد تخفیف</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="CreateGifCodeClose">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="CreateGifCodeForm">

                    @*<input type="hidden" value="" name="id" id="id" />*@
                    <div class="form-row">
                        <div class="form-group col-md-12 ">
                            <label for="GiftCode">کد تخفیف </label>
                            <input type="text" name="GiftCode" class="form-control " id="GiftCode" placeholder=" برای مثال 48796" />
                        </div>
                        <div class="form-group col-md-12 ">
                            <label for="Discount">درصد تخفیف </label>
                            <input type="text" name="Discount" class="form-control " id="Discount" placeholder="10" />
                        </div>
                        <div class="form-group col-md-12 ">
                            <label for="ExpireTime">مدت زمان استفاده </label>
                            <input type="number" name="ExpireTime" class="form-control " id="ExpireTime" placeholder="6 روز" />
                            <input type="hidden" name="EmployerId" id="EmployerId" />
                        </div>

                    </div>



                    <button type="submit" id="CreateGifCodeBtn" class="btn btn-light-primary btn-block">ثبت</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="companyDesc">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">توضیحات</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="CreateGifCodeClose">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="companyDescForm">

                    <div class="form-row">
                        <div class="form-group col-md-12 ">
                            <textarea name="Description" class="form-control " id="Description"></textarea>
                            <input hidden id="companyDescId"/>
                        </div>

                    </div>
                    <button type="button" id="companyDescButton" class="btn btn-light-primary btn-block">ثبت</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="UpdatePlan">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">   ویرایش پلن</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="UpdatePlanClose">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="UpdatePlanForm">

                    <input type="hidden" value="" name="UserIds" id="UserIds" />

                    <div class="form-row">

                        <div class="form-group col-md-12 ">
                            <label for="Plans">پلن ها </label>
                            <select id="Plans" name="Plans" class="form-control">
                                <option value=""></option>

                                @foreach (var item in (List<Domain.AllPlanForCompany>)ViewBag.Plans)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                                @*<option value="1">فوری</option>
                                    <option value="2">معمولی</option>
                                    <option value="3">جهت اطلاع</option>*@
                            </select>
                        </div>


                    </div>




                    <button type="submit" id="UpdatePlantBtn" class="btn btn-light-primary btn-block">ثبت</button>
                </form>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-lg" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">گالری</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center p-4">
                <div class="row text-right">
                    <div class="row" id="gallerySpace">
                        @*<div class="row">
                                <p style="background-color:darkgray;color:black;margin-right:10px" class="w-100">aa</p>
                                <div class="col-lg-3">
                                    <img src="/uploads/637271179167230940image.jpg" class="card-img-top" alt="...">
                                    <button style="position:relative!important;bottom: 41px;" class="btn btn-primary col-lg-6 text-center">انتخاب</button>
                                </div>
                                <div class="col-lg-3 text-center text-lg-center mt-1">
                                    <button id="newImg" class="btn btn-success"> <i class="fa fa-plus"></i> عکس جدید</button>
                                </div>
                            </div>*@
                    </div>
                    @*<div class="col-lg-3 text-center text-lg-center mt-1 position-relative">
                            <img style="max-height:100%;max-width:100%" src="/uploads/637271179167230940image.jpg" />
                            <span class="badge badge-danger position-absolute mtk-delete">X</span>
                        </div>
                        <div class="col-lg-3 text-center text-lg-center mt-1">
                            <img style="max-height:100%;max-width:100%" src="/uploads/637271179167230940image.jpg" />
                            <span class="badge badge-danger position-absolute mtk-delete">X</span>
                        </div>*@
                </div>
                <input type="file" id="file-input" style="visibility:hidden" />
                <input id="itemId" style="visibility:hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger">بستن</button>
                <button id="newImg" class="btn btn-success">عکس جدید</button>
            </div>
        </div>
    </div>
</div>
<input type="file" id="file-input" style="visibility:hidden" />
<div class="alert" role="alert"></div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="crop">Crop</button>
                <button type="button" class="btn btn-danger" id="out">out</button>
                <button type="button" class="btn btn-success" id="in">in</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
    <script src="~/vendors/dataTable/jquery.dataTables.min.js"></script>

    <!-- Bootstrap 4 and responsive compatibility -->
    <script src="~/vendors/dataTable/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendors/dataTable/dataTables.responsive.min.js"></script>
    <script src="/vendors/select2/js/select2.min.js"></script>
    <script src="~/cropper/js/cropper.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            //var avatar = document.getElementById('avatar');
            var image = document.getElementById('image');
            var input = document.getElementById('file-input');
            var $progress = $('.progress');
            var $progressBar = $('.progress-bar');
            var $alert = $('.alert');
            var $modal = $('#modal');
            var cropper;
            $('[data-toggle="tooltip"]').tooltip();

            input.addEventListener('change', function (e) {
                var files = e.target.files;
                var done = function (url) {
                    input.value = '';
                    image.src = url;
                    $alert.hide();
                    $modal.modal('show');
                };
                var reader;
                var file;
                var url;

                if (files && files.length > 0) {
                    file = files[0];

                    if (URL) {
                        done(URL.createObjectURL(file));
                    } else if (FileReader) {
                        reader = new FileReader();
                        reader.onload = function (e) {
                            done(reader.result);
                        };
                        reader.readAsDataURL(file);
                    }
                }
            });

            $modal.on('shown.bs.modal', function () {
                cropper = new Cropper(image, {
                    dragMode: 'move',
                    aspectRatio: 1 / 1,
                    //autoCropArea: 1,
                    restore: false,
                    guides: false,
                    center: false,
                    highlight: false,
                    cropBoxMovable: false,
                    cropBoxResizable: false,
                    toggleDragModeOnDblclick: false,
                    minCropBoxHeight: 100,
                });
            }).on('hidden.bs.modal', function () {
                cropper.destroy();
                cropper = null;
            });

            document.getElementById('out').addEventListener('click', function () {
                cropper.zoom(-0.1);

            });
            document.getElementById('in').addEventListener('click', function () {
                cropper.zoom(0.1);

            });
            document.getElementById('crop').addEventListener('click', function () {
                var initialAvatarURL;
                var canvas;

                $modal.modal('hide');

                if (cropper) {
                    canvas = cropper.getCroppedCanvas({
                        width: 600,
                        height: 600,
                    });
                    $alert.removeClass('alert-success alert-warning');
                    canvas.toBlob(function (blob) {
                        var formData = new FormData();
                        formData.append('image', blob, "image.jpg");
                        loading()
                        $.ajax({
                            url: "/api/gallery/AddImage/",
                            method: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                console.log(data);
                                if (data.status != '0') {
                                    AddImgToGallery(data);
                                    //toast("1", "ok")
                                    //$("#gallerySpace").empty();
                                    //for (var i = 0; i < data.length; i++) {
                                    //    $("#gallerySpace").append('<div class="col-lg-3 text-center text-lg-center mt-1 position-relative"><img style="max-height:100%;max-width:100%" src="' + data[i] + '" /><span data-url="' + data[i] + '" class="badge badge-danger deleteImg position-absolute mtk-delete">X</span></div>');
                                    //}
                                    //$("#gallerySpace").append('<div class="col-lg-3 text-center text-lg-center mt-1"><button id="newImg" class="btn btn-success">عکس جدید</button></div>');
                                    //$("#gallerySpace").append('<input type="hidden" id="galleryId" value="' + modelId + '" />');
                                }
                                else {
                                    swal("error");
                                }
                            }
                        });
                        Swal.close();
                    });
                }
            });
        });
        function AddImgToGallery(image) {
            $("Gallery").modal('toggle');
            loading();
            var formData = new FormData();
            //let model = {
            //    image,
            //    id : $.cookie("companyId")
            //}
            formData.append("image", image);
            formData.append("id", $.cookie("companyId"));
            $.ajax({
                type: "POST",
                url: "/api/gallery/AddImgToGallery",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    //ax jadid to modal
                    $("#gallerySpace").append('<div id="' + data.split('/')[3] + '" class="col-lg-3 text-center text-lg-center mt-1 position-relative"><img style="max-height:100%;max-width:100%" src="' + data + '" /><span data-url="' + data + '" class="badge badge-danger deleteImg position-absolute mtk-delete">X</span></div>');
                    Swal.close();
                }
            });
            $("Gallery").modal();
        }
        $('#gallerySpace').on('click', ".deleteImg", function () {
            var button = $(this);
            var url = button.attr("data-url");
            var formData = new FormData();
            formData.append("id", $.cookie("companyId"));
            formData.append("url", url);
            loading();
            $.ajax({
                type: "POST",
                url: "/api/gallery/DeleteImgFromGallery",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data.status == '0') {
                        swal.fire("", data.message, "error")
                    } else {
                        console.log("#" + url.split('/')[3]);
                        var myobj = document.getElementById(url.split('/')[3]);
                        myobj.remove();
                    }
                    Swal.close();
                }
            });
        });
    </script>
    <script>

        CKEDITOR.replace('Description', {
            language: 'fa',
            contentsLangDirection: 'rtl',
            extraAllowedContent: 'br(*)'
        });

        function sendTicket() {
            $(".modal-backdrop").removeClass("d-none");
        }
        //seprator

        function GetData(url, data, isAlreadyTable) {
            if (isAlreadyTable == true) {
                $('#myTable').DataTable().destroy();
            }
            var oTable = $('#myTable').DataTable({
                responsive: true,
                ordering: false,
                processing: true,
                paging: true,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/Persian.json"
                },
                ajax: {
                    beforeSend: setAuthHeader,
                    url: url,
                    dataSrc: "",
                    type: "GET",
                    dataType: "json",
                    cache: true,
                    delay: 1000,
                    data: data,


                },
                columns: [
                    {
                        data: 'logo',
                        render: function (data, type, item) {


                            return `<div class="form-group btn " style="max-width:105px"><img style="max-width:100px;max-height:100px;border-radius: 50%;" src='/Img/CompanyLogo/${data}'/></div>`
                        }
                    },
                    {
                        data: 'companyPersianName',
                        render: function (data, type, item) {


                            return '<div class="form-group btn">' + data + '</div>'
                        }
                    }
                    ,
                    {
                        data: 'companyEngName',
                        render: function (data, type, item) {


                            return '<div class="form-group btn">' + data + '</div>'
                        }
                    }

                    ,
                    {
                        data: 'managerFullName',
                        render: function (data, type, item) {


                            return '<div class="form-group btn">' + data + '</div>'
                        }
                    }
                    ,
                    {
                        data: 'managerPhoneNUmber',
                        render: function (data, type, item) {


                            return '<div class="form-group btn">' + data + '</div>'
                        }
                    }
                    ,


                    {
                        data: 'rate',
                        render: function (data, type, item) {
                            if (data == null | data == "") data = "--"
                            return '<div class="form-group btn">' + data + '</div>'
                        }
                    }

                    ,
                    {
                        data: 'activeAdversCount',
                        render: function (data, type, item) {


                            return '<div class="form-group btn">' + data + '</div>'
                        }
                    }
                    ,
                    {
                        data: 'deactiveAdversCount',
                        render: function (data, type, item) {


                            return '<div class="form-group btn">' + data + '</div>'
                        }
                    }
                    ,
                    {
                        data: 'sumOfBuying',
                        render: function (data, type, item) {
                            if (data == null) data = '0'

                            data = data.replace(".00", "");


                            return '<div class="form-group">' + separate(data) + ' تومان  ' + '</div>'
                        }
                    }
                    ,
                    {
                        data: 'isActive',
                        render: function (data, type, item) {
                            var isChecked = item.isActive == true ? 'checked' : "";
                            var isActive = item.isActive == true ? false : true;
                            return `<label class="switch">
                                                                                                                    <input type="checkbox" data-id=${item.id} onclick="BlockUnblock(this)" ${isChecked}>
                                                                                                                    <span class="slider round"></span>
                                                                                                                </label>`;
                        }
                    }
                    , {

                        data: "id",
                        render: function (data, type, item) {
                            let el = `<button class="form-group btn btn-success d-block" data-content='${item.content}' data-subject='${item.subject} '
                                                                                                                                                  data-id=${item.id} onclick="sendTicket('${item.id}')">ارسال تیکت</button>

                                                                                                                        <button class="form-group btn btn-warning d-block" data-content='${item.content}' data-subject='${item.subject} '
                                                                                                                    data-id=${item.id} onclick="CreateGiftCode('${item.id}')">ارسال کد تخفیف</button>



                                                                                                                                    <button class="form-group btn btn-primary d-block" data-content='${item.content}' data-subject='${item.subject} '
                                                                                                                                    data-managerPhoneNUmber=${item.managerPhoneNUmber}
                                                                                                                                    data-managerFullName="${item.managerFullName}"
                                                                                                                                    data-companyEngName="${item.companyEngName}"
                                                                                                                                    data-activeAdversCount="${item.activeAdversCount}"
                                                                                                                                    data-address="${item.address}"
                                                                                                                                    data-city="${item.city}"
                                                                                                                                    data-companyPersianName="${item.companyPersianName}"
                                                                                                                                    data-companyPhone="${item.companyPhone}"
                                                                                                                                    data-deactiveAdversCount="${item.deactiveAdversCount}"
                                                                                                                                    data-isActive="${item.isActive}"
                                                                                                                                    data-logo="${item.logo}"
                                                                                                                                    data-managerEmail="${item.managerEmail}"
                                                                                                                                    data-rate="${item.rate}"
                                                                                                                                    data-sumOfBuying="${item.sumOfBuying}"
                                                                                                                                    data-id="${item.id}"
                                                                                                                                    data-lastSeen="${item.lastSeen}"
                                                                                                                                    data-registerationDateJalali="${item.registerationDateJalali}"

                                                                                                                                    onclick="showDetails(this)"> مشاهده جزئیات</button>
                                                                                                                <button class="form-group btn btn-danger d-block " style="line-height=1.4;" data-phoneNumber=${item.managerPhoneNUmber} onclick="goToUserAccount('${item.managerPhoneNUmber}')"> ورود به اکانت</button>
                                                                                                                <button class="form-group btn btn-info d-block " style="line-height=1.4;"
                                                                                                                                        data-planId=${item.planId}
                                                                                                                                        data-userId=${item.id}

                                                                                                                                        onclick="showPlans(this)"> تغییر پلن</button>
                                            <button class="btn btn-primary showGallery" data-item-id="${item.id}">گالری</button>
                                            <button class="btn btn-info editDesc mt-3" data-item-id="${item.id}">توضیحات</button>
                                                                                                            `;

                            return el;

                        }
                    }

                ],
            });
        };

        $("#myTable").on('click', ".showGallery", function () {
            var button = $(this);
            var model = {
                id: button.attr("data-item-id")
            };
            loading()
            $.cookie('companyId', model.id, { expires: 1, path: '/' });
            $.ajax({
                url: "/api/gallery/GetCompanyImages/",
                method: "GET",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: model,
                success: function (data) {
                    $("#gallerySpace").empty();
                    for (var i = 0; i < data.length; i++) {
                        $("#gallerySpace").append('<div id="' + data[i].split('/')[3] + '" class="col-lg-3 text-center text-lg-center mt-1 position-relative"><img style="max-height:100%;max-width:100%" src="' + data[i] + '" /><span data-url="' + data[i] + '" class="badge badge-danger deleteImg position-absolute mtk-delete">X</span></div>');
                    }

                    $("#Gallery").modal();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    alert(errorThrown);
                    console.log(errorThrown);
                }
            });
            Swal.close();
        });

        $("#myTable").on('click', ".editDesc", function () {
            var button = $(this);
            loading()
            var model = {
                id: button.attr("data-item-id")
            };
            $('#companyDescId').val(model.id);
            $.ajax({
                url: "/api/account/GetCompanyDesc/",
                method: "GET",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: model,
                success: function (data) {
                    CKEDITOR.instances['Description'].setData(data);
                    $("#companyDesc").modal();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    alert(errorThrown);
                    console.log(errorThrown);
                }
            });
            Swal.close();
        });

        $('#newImg').on('click', function () {
            $('#file-input').trigger('click');
        });

        $('#companyDescButton').on('click', function () {
            loading();
            var desc = CKEDITOR.instances['Description'].getData();
            let formData = new FormData();
            formData.append('Id', $('#companyDescId').val());
            formData.append('desc', desc);
            $.ajax({
                url: '/api/account/EditDesc',
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    Swal.fire(
                        '',
                        data.message,
                        'success'
                    );
                }
            })
        })

        function separate(Number) {
            Number += '';
            Number = Number.replace(',', ''); Number = Number.replace(',', ''); Number = Number.replace(',', '');
            Number = Number.replace(',', ''); Number = Number.replace(',', ''); Number = Number.replace(',', '');
            x = Number.split('.');
            y = x[0];
            z = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(y))
                y = y.replace(rgx, '$1' + ',' + '$2');
            return y + z;
        }

        $(document).ready(async function () {

            $("#notifCount").addClass("d-none");
            //loadData
            GetData('/api/Account/GetAllComapinesForAdmin', {}, false);





        });

        function showContent(e) {
            $("#modalParagraph").html($(e).val());
            $("#rejectResultBtn").click();
        }
        function changeCreateStatus(e) {
            var statusId = $(e).attr("data-status");
            $("#adverCreateStatusInModal").val(statusId);
            adverId = $(e).attr("data-id");
            $("#ShowDetailsBtn").click();
        }








        function changeValue(val) {
            if (val == "" || val == null || val == "null") {
                return "----";
            }
            return val;
        }
        function rating(rate) {
            if (rate == "" || rate == "null" || rate == null || rate == 0) {
                return `<span class="fa fa-star "></span>
                                                                                                                                    <span class="fa fa-star "></span>
                                                                                                                                    <span class="fa fa-star "></span>
                                                                                                                                    <span class="fa fa-star"></span>
                                                                                                                                    <span class="fa fa-star"></span>`;
            }
            else {

                let enable = rate;
                let disable = 5 - Number(rate);

                let res = ``;
                for (var i = 1; i <= enable; i++) {
                    res += `<span class="fa fa-star checked"></span>`;
                }
                for (var i = 1; i <= disable; i++) {
                    res += `<span class="fa fa-star "></span>`;
                }
                return res;
            }
        }
        function userActivation(active) {
            if (active == "true") return "فعال";
            else return "غیر فعال";
        }
        function sendTicket(id) {
            $("#userId").val(id);
            $("#CreateTicket").modal("toggle");
        }
        $(".CreateTicketForm").submit(function (e) {
            $("#content").removeClass("error");
            $("#subject").removeClass("error");
            $("#file").removeClass("error");


            e.preventDefault();

            //check extention
            var fileName = $("#file").val();
            if (fileName != "" && fileName != null) {
                var fileExtension = fileName.replace(/^.*\./, '');
                if (!uploadFileExtentions.includes(fileExtension.toUpperCase())) {
                    toastr.error("فرمت فایل ارسالی صحیح نمیباشد");
                    $("#file").addClass("error");
                    return;

                }
            }
            if ($("#content").val() == "" || $("#content").val() == null) {
                toastr.error("لطفا متن  پیام را وارد کنید");
                $("#content").addClass("error");
                return;
            }

            if ($("#subject").val() == "" || $("#subject").val() == null) {
                toastr.error("لطفا متن  پیام را وارد کنید");
                $("#subject").addClass("error");
                return;
            }
            if ($("#subject").val() == "" || $("#subject").val() == null) {
                toastr.error("لطفا موضوع  پیام را وارد کنید");
                $("#subject").addClass("error");
                return;
            }
            var formData = new FormData(this);


            $.ajax({
                beforeSend: setAuthHeader,
                method: "Post",
                url: '/api/Tickets/CreateTicket',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {

                    if (data.successCode) {
                        toastr.success(data.message);
                        $("#CreateTicketForm").modal('hide');


                        $("#CreateTicketClose").click();
                        $(".modal-backdrop").addClass("d-none");

                    } else {

                        toastr.error(data.message);
                    }
                },
                error: function (data) {

                    if (data.responseJSON == undefined) {
                        toastr.error("مشکلی رخ داده است");
                        return;

                    }
                    var errors = data.responseJSON.message;
                    errors.forEach(elem => {
                        if (elem == "Unauthorized") { elem = "کابر نامعتبر لطفا لاگین کنید" }
                        if (elem == "Forbidden") { elem = "عدم دسترسی " }
                        toastr.error(elem);

                    })
                }
            });

        });
        var rateNumber = 0;
        var userId = "";
        function showDetails(e) {


            const managerPhoneNUmber = changeValue($(e).attr("data-managerPhoneNUmber"));
            const managerFullName = changeValue($(e).attr("data-managerFullName"));
            const companyEngName = changeValue($(e).attr("data-companyEngName"));
            const companyPersianName = changeValue($(e).attr("data-companyPersianName"));
            const activeAdversCount = changeValue($(e).attr("data-activeAdversCount"));
            const address = changeValue($(e).attr("data-address"));
            const city = changeValue($(e).attr("data-city"));
            const companyPhone = changeValue($(e).attr("data-companyPhone"));
            const deactiveAdversCount = changeValue($(e).attr("data-deactiveAdversCount"));
            const isActive = changeValue($(e).attr("data-isActive"));
            const logo = $(e).attr("data-logo");
            const managerEmail = changeValue($(e).attr("data-managerEmail"));
            const rate = $(e).attr("data-rate");
            const sumOfBuying = changeValue($(e).attr("data-sumOfBuying"));
            const id = changeValue($(e).attr("data-id"));
            const lastSeen = changeValue($(e).attr("data-lastSeen"));
            const registerationDateJalali = changeValue($(e).attr("data-registerationDateJalali"));
            rateNumber = rate;
            userId = id;

            $("#sumOfBuying").html(separate(sumOfBuying.replace(".00", "")));
            $("#managerPhoneNUmber").val(managerPhoneNUmber);
            $("#managerFullName").val(managerFullName);
            $("#companyEngName").val(companyEngName);
            $("#companyPersianName").val(companyPersianName);
            $("#activeAdversCount").html(activeAdversCount);
            $("#address").html(address);
            $("#city").html(city);
            $("#companyPhone").val(companyPhone);
            $("#deactiveAdversCount").html(deactiveAdversCount);
            $("#isActive").html(userActivation(isActive));
            $("#rate").html(rating(rate));
            $("#managerEmail").val(managerEmail);
            $("#lastSeen").html(lastSeen);
            $("#registerationDateJalali").html(registerationDateJalali);

            $("#logo").attr("src", "/Img/CompanyLogo/" + logo);

            $("#ShowDetails").modal("toggle");

        }
        function CreateGiftCode(id) {
            $("#EmployerId").val(id);
            $(".modal-backdrop").removeClass("d-none");
            $("#CreateGifCode").modal("toggle");

        }
        $("#CreateGifCodeBtn").click(function (e) {
            e.preventDefault();
            var data = serializeForm(document.querySelector('.CreateGifCodeForm'));

            var userId = data.EmployerId;
            var employeeId = [];
            employeeId.push(userId);
            data.EmployerId = employeeId;

            $.ajax({
                beforeSend: setAuthHeader,
                method: "POST",
                url: '/api/GiftCode/CreateGiftCode',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (data) {
                    if (data.statusCode == '200') {
                        toastr.success(data.message);
                        $("#CreateGifCode").modal("hide");
                        $('#CreateGifCodeclose').click();
                        $(".modal-backdrop").addClass("d-none");

                    } else {
                        toastr.error(data.message);
                    }
                },
                error: function (data) {
                    if (data.responseJSON == undefined) {
                        toastr.error("مشکلی رخ داده است");
                        return;

                    }
                    var errors = data.responseJSON.message;
                    errors.forEach(elem => {
                        if (elem == "Unauthorized") { elem = "کابر نامعتبر لطفا لاگین کنید" }
                        if (elem == "Forbidden") { elem = "عدم دسترسی " }
                        toastr.error(elem);


                    })
                }
            });

        })



        $("#UpdatePlantBtn").click(function (e) {

            e.preventDefault();
            var data = serializeForm(document.querySelector('.UpdatePlanForm'));

            data.userId = $("#UserIds").val()
            data.Plans = $("#Plans").val()

            $.ajax({
                beforeSend: setAuthHeader,
                method: "POST",
                url: '/api/Plan/EditPlanInAdmin',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (data) {
                    if (data.statusCode == '200') {
                        toastr.success(data.message);
                        $("#UpdatePlan").modal("hide");

                        $('#UpdatePlanClose').click();
                        $(".modal-backdrop").addClass("d-none");
                        GetData('/api/Account/GetAllComapinesForAdmin', {}, true);


                    } else {
                        toastr.error(data.message);
                    }
                },
                error: function (data) {
                    if (data.responseJSON == undefined) {
                        toastr.error("مشکلی رخ داده است");
                        return;

                    }
                    var errors = data.responseJSON.message;
                    errors.forEach(elem => {
                        if (elem == "Unauthorized") { elem = "کابر نامعتبر لطفا لاگین کنید" }
                        if (elem == "Forbidden") { elem = "عدم دسترسی " }
                        toastr.error(elem);


                    })
                }
            });

        })

        function showPlans(e) {
            $("#UserIds").val($(e).attr("data-userid"))
            const PlanId = $(e).attr("data-planid")
            $("#Plans").val(PlanId)
            $("#UpdatePlan").modal("toggle");
        }



        function BlockUnblock(e) {
            console.log(e);
            var id = $(e).attr("data-id");
            var isActive = false;
            let url = "";
            if ($(e).prop('checked') == true) {
                isActive = true;


            }
            if (isActive) {
                url = "/api/Account/UnBlockUser?userId=" + id;
                block(url);

            }
            else {
                url = "/api/Account/BlockUser?userId=" + id;


                //alert



                swal({
                    title: "آیا مطمئن هستید؟",
                    text: "با بلاک کردن کابر دسترسی را کاملا از بین میبرید!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            block(url);

                        } else {
                            $(e).prop('checked', true); // Checks it

                        }
                    });

                //alert


            }





        }
        function block(url) {
            $.ajax({
                beforeSend: setAuthHeader,
                method: "POST",
                url: url,
                contentType: 'application/json',
                data: {},

                success: function (data) {
                    if (data.statusCode == '200') {
                        toastr.success(data.message);
                    } else {
                        toastr.error(data.message);
                    }
                },
                error: function (data) {
                    if (data.responseJSON == undefined) {
                        toastr.error("مشکلی رخ داده است");
                        return;

                    }
                    var errors = data.responseJSON.message;
                    errors.forEach(elem => {
                        if (elem == "Unauthorized") { elem = "کابر نامعتبر لطفا لاگین کنید" }
                        if (elem == "Forbidden") { elem = "عدم دسترسی " }
                        toastr.error(elem);


                    })
                }
            });
        }
        function goToUserAccount(userPhoneNumber) {
            localStorage.removeItem("JWT");

            $.ajax({
                beforeSend: setAuthHeader,
                method: "Get",
                url: '/GetUserInfoForForceLogin?phoneNumber=' + userPhoneNumber,
                contentType: 'application/json',
                data: {},

                success: function (data) {
                    var userName = data.phoneNumber;
                    var verificationCode = data.verificationCode;

                    var link = 'http://katinojob.ir/Security/' + userName + '/' + verificationCode + '/Employer'
                    window.open(
                        link,
                        '_blank'
                    );
                    //location.href = 'http://katinojob.ir/Security/' + userName + '/' + verificationCode + '/Employer'
                },
                error: function (data) {
                    if (data.responseJSON == undefined) {
                        toastr.error("مشکلی رخ داده است");
                        return;

                    }
                    var errors = data.responseJSON.message;
                    errors.forEach(elem => {
                        if (elem == "Unauthorized") { elem = "کابر نامعتبر لطفا لاگین کنید" }
                        if (elem == "Forbidden") { elem = "عدم دسترسی " }
                        toastr.error(elem);


                    })
                }
            });
        }
        function setRate() {
            var rate = rateNumber;
            var id = userId;
            if (rate == "" || rate == null || rate == undefined) {
                rate = 0;
            }
            else {
                $("#rating-" + rate).click();
            }
            $("#rating-1").click(function () {

                RateCompany(1, id);

            })

            $("#rating-2").click(function () {

                RateCompany(2, id);

            })

            $("#rating-3").click(function () {

                RateCompany(3, id);

            })
            $("#rating-4").click(function () {

                RateCompany(4, id);

            })
            $("#rating-5").click(function () {

                RateCompany(5, id);

            })




            $("#RatingModal").modal("toggle");
            $("#ShowDetails").modal("toggle");


        }

        function RateCompany(rate, id) {
            $.ajax({
                beforeSend: setAuthHeader,
                method: "Post",
                url: '/api/Account/RatingCompany?rate=' + rate + "&userId=" + id,
                contentType: 'application/json',
                data: {},

                success: function (data) {
                    if (data.statusCode == '200') {
                        GetData('/api/Account/GetAllComapinesForAdmin', {}, true);

                        //toastr.success(data.message);
                    } else {
                        toastr.error(data.message);
                    }

                },
                error: function (data) {
                    if (data.responseJSON == undefined) {
                        toastr.error("مشکلی رخ داده است");
                        return;

                    }
                    var errors = data.responseJSON.message;
                    errors.forEach(elem => {
                        if (elem == "Unauthorized") { elem = "کابر نامعتبر لطفا لاگین کنید" }
                        if (elem == "Forbidden") { elem = "عدم دسترسی " }
                        toastr.error(elem);


                    })
                }
            });
        }

        $('#ShowDetailsForm').submit(function (e) {
            e.preventDefault();
            let form = $(this);
            console.log(form.serialize());
            $.ajax({
                beforeSend: setAuthHeader,
                url: '/api/account/adminChangeEmployerData',
                type: "POST",
                data: form.serialize(),
                success: function (data) {

                    if (data.successCode) {
                        toastr.success(data.message);
                        $("#ShowDetails").modal('hide');

                    } else {

                        toastr.error(data.message);
                    }
                }
            })
        })
    </script>

}



