.MuiInputBase-input,
.MuiFormControlLabel-label
 {
  font-family: iransans-regular !important;
  font-size: 0.9rem !important;
}
.MuiChip-label{
  font-family: iransans-regular !important;
  font-size: 0.8rem !important;
}
.MuiChip-root {
  padding-left: .5rem !important;
}